<span class="login-box">
    <% if(!loggedUser) { %>
        <div id="login">
        <h2>Log in</h2>
        <form method="post" action="/login" novalidate>
            <label for="loginEmail">Email:</label>
            <input type="email" id="loginEmail" name="email">

            <label for="loginPassword">Password:</label>
            <input type="password" id="loginPassword" name="password">

            <input type="submit" value="Sign in">
            <span id="loginErrors"><%= loginError ? loginError : ''%></span>
        </form>
    </div>
    <% } else { %>
    <div>
    <span class="one-line">You are logged in as: <%=loggedUser.firstName + " " + loggedUser.lastName%></span>
    <a href="/logout">Sign out</a>
</div>
    <% } %>
</span>
